.container {
  display: flex;
  width: 20rem;
  min-height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  margin: 0, auto;
  transform: translate(-50%, -50%);
  vertical-align: center;
}
.progress {
  position: relative;
  height: 10px;
  width: 110%;
  border: 12px solid #000000;
  border-radius: 15px;
  margin: 1rem;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  bottom: -5px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;
